<div class="container h-100">
    <div class="row align-items-center h-100 header">
        <div class="col-4 mx-auto">
            <form class="burger-form">
                <div class="form-group">
                    <label class="order-label" for="burger-name">Order Burger Here: </label>
                    <input type="burger-name" class="form-control" id="burger-name">
                </div>
                <button type="submit" class="btn btn-danger">Submit Burger</button>
            </form>
        </div>
        <div class="col-4 mx-auto">
            <img class="burger-img" src="/assets/img/Burger.png" width="300" height="250">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 left-side">
            <table class="table table-dark table-hover order">
                <thead>
                    <th>ORDER IS READY</th>
                </thead>
            </table>

            <table class="table table-dark table-hover">
                <tbody>
                    <tr>
                        {{#each burgers}}
                        {{#unless this.devoured}}
                        <th scope="row"></th>
                        <td>{{this.burger_name}}</td>
                        <td><button class="btn btn-danger eat-burger" data-id={{this.id}}>DEVOUR!</button></td>
                    </tr>
                    {{/unless }}
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="col-md-6 right-side">

            <table class="table table-dark table-hover order">
                <thead>
                    <th>BURGER HAS BEEN DEVOURED</th>
                </thead>
            </table>

            <table class="table table-dark table-hover">
                <tbody>
                    <tr>
                        {{#each burgers}}
                        {{#if this.devoured}}
                        <th scope="row"></th>
                        <td>{{this.burger_name}}
                        </td>
                    </tr>
                    {{/if }}
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>

</div>