body {
    background-color:lightblue;
}

li{
    background-color:lightsteelblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:10px;
    margin:10px;
}
.order-label {
    color:white;
}
.header {
    background-color: #e01835;
    margin:5px;
    padding:10px;
}
.order {
   text-align:center;
}

.row {
    display:flex;
    flex-direction:row;
}

.eat-burger {
    float:right;
}

.burger {
    margin:0
}
.container {
    align-content: center;
}