body {
  background-image: url("../img/burger-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

li {
  background-color: lightsteelblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  margin: 10px;
}
.order-label {
  color: white;
}
.header {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 5px;
  padding: 10px;
}
.order {
  text-align: center;
}
.burger-img {
  opacity: 0.6;
}
.burger-img:hover {
  opacity: 1;
}

.row {
  display: flex;
  flex-direction: row;
}

.table {
  background-color: rgba(0, 0, 0, 0.8);
}

.eat-burger {
  float: right;
  background-color: rgba(0, 0, 0, 0.8);
}

/* .delete-btn {
  float: right;
  background-color: transparent;
  color: #fff;
  border: none;
}
.delete-btn:active {
  outline: none;
  appearance: none;
} */

.burger {
  margin: 0;
}
.container {
  align-content: center;
}

@media (max-width: 560px) {
  .burger-img {
    opacity: 0.6;
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 1200px) {
  .burger-img {
    opacity: 0.6;
    height: 150px;
    width: 175px;
  }
}
